.botao-carrinho {
  border: 4px solid brown;
  border-radius: 7px;
  box-sizing: border-box;
  margin: 1px;
  padding: 0.2em;
  transition: box-shadow 100ms;
}

.botao-carrinho:hover {
  background-color: rgb(150, 0, 0);
  box-shadow: 2px 2px black;
  margin: 0 2px 2px 0;
}

.botao-carrinho:active {
  box-shadow: -2px -2px black;
  margin: 2px 0 0 2px;
}

.botao-carrinho a {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  font-family: Exo , sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 500;
  text-decoration: none;
}
