.caixa-produto {
  margin: 0 auto;
  width: 90%;
}

.caixa-produto h2 {
  font-size: 2em;
  margin: 1.5em;
}

.detalhes-produto {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(153, 153, 102);
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgb(153, 153, 102);
  padding: 2em;
}

.caixa-reviews {
  margin: 1.5em auto;
}
